<!DOCTYPE html lang="en">
<head>
          <meta charset="UTF-8">
          <title>Rendering</title>
</head>
<body>
          <div id="root"></div>
          <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
          <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
          <script crossorigin src="https://unpkg.com/@babel/standalone@7.18.10/babel.min.js"></script> 
          <script type="text/babel">

                    const getText = name => `My name is ${name}`;

                    // const container = <div>{getText('Joe')}</div>;

                    const getSetAction = name => ({ type: 'SET_NAME', name});

                    const Paragraph = () => <p>Joe</p>;

                    // const container = (
                    //   <div>{JSON.stringify(getSetAction('Joe'))}</div>
                    // );

                    const container = <div>
                        <Paragraph/>
                    </div>;

                    ReactDOM.render(container, document.getElementById('root'));

                    
          </script>
</body>
</html>
